<div class="cover d-flex justify-content-center align-items-center flex-column"
     style="background-image: url('assets/robert-collins-tvc5imO5pXk-unsplash.jpg');">
    <h1>
        Penny Juiceu
    </h1>
    <p>
        It makes Cents
    </p>
    <a href="https://es.wikipedia.org/wiki/Jugo_de_frutas" class="btn btn-primary">Conoce más</a>
</div>

<section>
    <div class="container mt-5 mb-5">
        <img src="assets\cody-silver-FqxenTBvmdk-unsplash.jpg" height="250" class="float-end ml-4" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tellus sem, ultricies et sem non,
            iaculis lacinia lectus. Sed pharetra enim metus, nec dignissim lorem mattis et. Cras eu malesuada eros,
            in tempus risus. Curabitur a erat et nulla blandit sollicitudin non in dui. Sed a porta nisl.
            Pellentesque id enim risus. Ut arcu libero, tempus nec faucibus maximus, vehicula ut mauris. Ut eu
            lobortis ante, a convallis nibh. Morbi eu viverra nisi, vel viverra lectus. Integer efficitur lacus in
            semper dapibus. Mauris mauris nulla, porttitor vel quam non, facilisis tempus ipsum. Suspendisse lacinia
            nisi at turpis luctus, id pellentesque purus fermentum. Ut vulputate vestibulum lacus eget gravida.
        </p>
        <p>
            Nam fermentum urna elit, at posuere neque varius vel. Nunc vitae consectetur ante. Sed elit eros, ornare
            a lorem sed, ullamcorper malesuada nibh. Suspendisse potenti. Phasellus ut nunc sed felis efficitur
            bibendum quis at ligula. Quisque hendrerit ut massa id viverra. Nunc eu lorem non metus posuere interdum
            nec consectetur elit. Praesent consectetur neque a commodo ultrices. Fusce et lectus quis orci
            vestibulum varius. Donec metus dui, vehicula at erat et, viverra euismod purus. Nam non dictum quam.
            Vestibulum facilisis massa metus, ut tempor nisi efficitur eget. Nunc ac ex porttitor, sagittis ante eu,
            ornare sem. Aenean ultricies condimentum justo, ut fringilla orci egestas eget. Suspendisse potenti.
            Etiam convallis, nunc sed tempor ornare, leo lectus facilisis nisl, a laoreet arcu diam sed risus.
        </p>
    </div>
    <section>
        <div class="container mt-5 mb-5">
            <h2>
                Productos 100% Naturales
            </h2>
            <div class="slider">
                <div class="slider-container">
                    <div class="image-container"
                        style="background-image: url(assets/tim-mossholder-xDwEa2kaeJA-unsplash.jpg);">
                    </div>
                    <div class="image-container"
                        style="background-image: url(assets/james-baltz-yihX4Rq-JsI-unsplash.jpg);">
                    </div>
                    <div class="image-container"
                        style="background-image: url(assets/julia-zolotova-M_xIaxQE3Ms-unsplash.jpg);">
                    </div>
                    <div class="image-container"
                        style="background-image: url(assets/gregory-hayes-QFmNQXLPbZc-unsplash.jpg);">
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<div class="container mt-5 mb-5">
    <h2>
        conece al equipo
    </h2>
    <p>
        Juntos hacemos el mejor producto del mercado.
    </p>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
            <div class="card p-4 text-center" style="width: 15rem;">
                <div class="avatar rounded-circle inline-block"
                    style="background-image: url('assets/thumb-patana.jpg');">
                </div>
                <h4 clas="mt-2">
                    Patana
                </h4>
                <span class="badge bg-primary">
                    CEO
                </span>
            </div>

        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
            <div class="card p-4 text-center" style="width: 15rem;">
                <div class="avatar rounded-circle inline-block"
                    style="background-image: url('assets/thumb-tulio2.jpg');">
                </div>
                <h4 clas="mt-2">
                    Tulio
                </h4>
                <span class="badge bg-primary">
                    CFO
                </span>
            </div>

        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
            <div class="card p-4 text-center" style="width: 15rem;">
                <div class="avatar rounded-circle inline-block"
                    style="background-image: url('assets/hqdefault.jpg');">
                </div>
                <h4 clas="mt-2">
                    Sra. Interesante
                </h4>
                <span class="badge bg-primary">
                    Empacadora
                </span>
            </div>

        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
            <div class="card p-4 text-center" style="width: 15rem;">
                <div class="avatar rounded-circle inline-block"
                    style="background-image: url('assets/thumb-bodoque.jpg');">
                </div>
                <h4 clas="mt-2">
                    Juan Carlos
                </h4>
                <span class="badge bg-primary">
                    Ventas
                </span> 
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
            <div class="card p-4 text-center" style="width: 15rem;">
                <div class="avatar rounded-circle inline-block" style="background-image: url('assets/JJH.jpg');">
                </div>
                <h4 clas="mt-2">
                    Juanini
                </h4>
                <span class="badge bg-primary">
                    Cocinero
                </span>
            </div>
        </div>
    </div>
</div>
