<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['']">&nbsp;&nbsp;<i class="fa-solid fa-coins"></i></a>
    <ul class="nav">
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['']" >Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['about']">Acerda de</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['order']">Ordene Ahora</a>
        </li>
    </ul>

</nav>
