<div class="cover d-flex justify-content-center align-items-center flex-column">
    <h1>
        Penny Juice
    </h1>
    <p>
        It makes Cents
    </p>
    <a href="https://es.wikipedia.org/wiki/Jugo_de_frutas" class="btn btn-primary">Conoce más</a>
</div>
<section>
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
        <div class="card" style="height: 25rem;">
          <img src="assets\rirri-R4zSXgDZLEU-unsplash.jpg" class="card-img-top" style=" height: 200px;" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tu mejor opción
            </h5>
            <p class="card-text">Los clientes prefieren nuestros productos por sus beneficios, características,
              variedad, servicio y precios competitivos.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
        <div class="card" style="height: 25rem;">
          <img src="assets\mariah-hewines-JnKyIa-umv8-unsplash.jpg" class="card-img-top" style=" height: 200px;"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">Facil Preparación</h5>
            <p class="card-text">Prepare todos los sabores usando siete partes de agua y una parte de concentrado de
              jugo. No es necesario refrigerar el concentrado antes o después de abrirlo.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
        <div class="card" style="height: 25rem;">
          <img src="assets\piotr-chrobot-x2byGrIsQYg-unsplash.jpg" class="card-img-top" style=" height: 200px;"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">Deliciosos y Nutritivo</h5>
            <p class="card-text">Estos concentrados de jugo de frutas mezclados son para todas las guarderías y
              preescolares.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-5">
        <img src="assets\SprintingDoodle.svg" />
      </div>
      <div class="col-12 col-sm-6">
        <h3>
          ¡Concentrado de jugo de frutas 100% licuado!
        </h3>
        <p>
          Conoce el proceso de elaboración de nuestros concentrados de jugo de frutas, sin pulpa, sin
          semillas y sin azúcar añadido.
        </p>
        <a href="#mapa">Ir al mapa</a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mt-5 mb-5">
    <h4>
      Nuestros productos
    </h4>
    <P>
      Tenemos una gran variedad de sabores para los jugos
    </P>
    <div class="product-stripe">
      <div class="stripe-container">
        <div class="card" style="height: 25rem;">
          <img src="assets\rasa-kasparaviciene-0TFxOkhFt14-unsplash.jpg" class="card-img-top" style=" height: 200px;"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">Arándanos</h5>
            <span class="badge bg-primary">$5.96</span>
          </div>
        </div>
        <div class="card" style="height: 25rem;">
          <img src="assets\david-kohler-gBdG886bLDY-unsplash.jpg" class="card-img-top" style=" height: 200px;"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">Uva</h5>
            <span class="badge bg-primary">$4.99</span>
          </div>
        </div>
        <div class="card" style="height: 25rem;">
          <img src="assets\maxx-A2_i401JCKM-unsplash.jpg" class="card-img-top" style=" height: 200px;" alt="...">
          <div class="card-body">
            <h5 class="card-title">Banano</h5>
            <span class="badge bg-primary">$7.98</span>
          </div>
        </div>
        <div class="card" style="height: 25rem;">
          <img src="assets\engin-akyurt-jPVcZsxRGJo-unsplash.jpg" class="card-img-top" style=" height: 200px;"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">Kiwi</h5>
            <span class="badge bg-primary">$2.89</span>
          </div>
        </div>
        <div class="card" style="height: 25rem;">
          <img src="assets\sheraz-shaikh-Zx3kcU2Kw9E-unsplash.jpg" class="card-img-top" style=" height: 200px;"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">Naranja</h5>
            <span class="badge bg-primary">$10.12</span>
          </div>
        </div>
        <div class="card" style="height: 25rem;">
          <img src="assets\hotchicksing-Dyc95dKuGp4-unsplash.jpg" class="card-img-top" style=" height: 200px;"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">Mango</h5>
            <span class="badge bg-primary">$5.93</span>
          </div>
        </div>
        <div class="card" style="height: 25rem;">
          <img src="assets\stan-slade-BM27BzBrhVM-unsplash.jpg" class="card-img-top" style=" height: 200px;" alt="...">
          <div class="card-body">
            <h5 class="card-title">Frambuesa</h5>
            <span class="badge bg-primary">$6.96</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5 mb-5">
      <button class="btn btn-primary"(click)="onClick();">Ordenar Ahora <i class="fa-solid fa-caret-right"></i></button>
    </div>
  </div>
  <section>
    <div class="container mt-5 mb-5">
      <h4 id="mapa">
        Aquí nos puedes encontrar
      </h4>
      <P>
        5000 Tremont Ave Suite 106, Davenport, IA 52807, Estados Unidos
      </P>
      <div class="responsive-iframe">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2984.938968264831!2d-90.5638020845685!3d41.57056547924766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87e235a7cf4d89dd%3A0x64956b682ec0c88c!2sPENNY%20JUICE%20OF%20AMERICA!5e0!3m2!1ses-419!2sco!4v1675619255488!5m2!1ses-419!2sco"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </section>
</section>


